*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #387a38;
}
.wrapper{
    position: absolute;
    width: 500px;
    height: 350px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #eeee;
    border-radius: 20px;
}
.container{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.user,.computer{
    text-align: center;
    width: 40%;
}
.player,.computer1{
    font-size: 22px;
}
.user-font-wrapper,.computer-font-wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
   
}
.user-font-wrapper i,.computer-font-wrapper i{
    cursor: pointer;
    padding: 5px;
    border: 2px solid #387a38;
    border-radius: 50%;
}
.chooses{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    font-size: 40px;
}
.winner{
    text-align: center;
    font-size: 25px;
}
.result{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}